html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-page-wrapper {
    display: block;
    padding: 100px;
}

a {
    display: inline-block;
    width: 80px;
}