html, body
  margin: 0
  padding: 0
  box-sizing: border-box

.siteWrapper
  width: 100vw
  height: 100vh
  position: fixed
  display: none

.siteInner
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: block

.scrollWindowWrapper
  box-sizing: border-box
  position: absolute
    
.scrollWindowInner
  display: block

.background
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1