html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#frame {
    position: absolute;
    margin: 10px;
    width: 90%;
    height: 90%;
    /* border: 1px solid teal; */
    /* background-image: url("./gar.gif") */
    /* background: red */
    background-image: url("./gar.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
